@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/src/themes/default";

:root {
  --color-primary-500: oklch(0.2701 0.1121 265.31);
  --font-body: Inter, system-ui, sans-serif;
}

body {
  font-family: var(--font-body);
}
