@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-500: oklch(34.808% 0.06519 268.897);
  --font-body: Inter, system-ui, sans-serif;
}

body {
  font-family: var(--font-body);
}
